---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import cabinet from '../images/cabinet.jpg';
---

<Layout
  title="Contact pour prendre rendez-vous"
  description="Prenez rendez-vous avec Melissa Laroueg, philosophe praticienne à Toulouse. Consultations au cabinet ou par vidéoconférence"
>
  <section class="w-full bg-secondary md:h-[40vh] container flex items-end">
    <h1 class="md:text-5xl text-3xl text-white font-medium pb-20 pt-5 md:pt-0">
      Me contacter<br />
      <span class="sr-only"> avec Melissa Laroueg, philosophe praticienne à Toulouse </span>
    </h1>
  </section>
  <section class="container mt-10 mb-10 lg:mb-20">
    <p class="text-lg font-medium md:text-justify text-center">
      Avant de devenir un enseignement scolaire, la philosophie était entendue comme une pratique de
      questionnement méthodique et de formation de soi par l’esprit. L’entretien philosophique a
      vocation à retrouver cette pratique. Partout dans le monde, on commence à se souvenir des
      pouvoirs structurants de la philosophie pratique, et des conventions nationales voient le jour
      dans de nombreux pays comme l’Italie, la suisse, le Canada, etc.... <br /> En France, l'institution
      de cette pratique semble prendre un peu plus de temps, c’est pourquoi les questions peuvent être
      nombreuses au sujet de ce service.
    </p>
    <p class="text-lg text-center font-medium pt-5">
      <span class="font-semibold">Je me tiens à votre disposition pour y répondre</span>
      <br />
      n'hésitez donc pas à me contacter de préférence par téléphone :
    </p>
  </section>

  <section class="text-xl text-center md:text-left md:text-2xl md:flex container justify-around">
    <address class="not-italic">
      <p class="text-tertiary font-medium flex items-center justify-center md:justify-start gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-phone-icon lucide-phone"
          ><path
            d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
          ></path></svg
        > Téléphone
      </p>
      <a href="tel:+33760287270" class="hover:underline"> 07.60.28.72.70 </a>
      <p
        class="text-tertiary pt-10 font-medium flex items-center justify-center md:justify-start gap-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-mail-icon lucide-mail"
        >
          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
          ></path>
          <polyline points="22,6 12,13 2,6"></polyline>
        </svg>
        Mail
      </p>
      <a href="mailto:contact.m.laroueg@gmail.com" class="md:hover:underline">
        contact.m.laroueg@gmail.com
      </a>
      <p
        class="text-tertiary pt-10 font-medium flex items-center justify-center md:justify-start gap-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-map-pin-icon lucide-map-pin"
        >
          <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
          <circle cx="12" cy="10" r="3"></circle>
        </svg>
        Le cabinet - Toulouse centre
      </p>
      <p>27, rue d’Alsace-Lorraine, 31000 Toulouse</p>
      <p class="flex items-center justify-center md:justify-start gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-square-m-icon lucide-square-m"
          ><path d="M8 16V8.5a.5.5 0 0 1 .9-.3l2.7 3.599a.5.5 0 0 0 .8 0l2.7-3.6a.5.5 0 0 1 .9.3V16"
          ></path><rect x="3" y="3" width="18" height="18" rx="2"></rect></svg
        >Capitole
      </p>
    </address>
    <Image
      src={cabinet}
      title="Le cabinet"
      alt="Cabinet de consultation de Melissa Laroueg à Toulouse"
      loading="eager"
      fetchpriority="high"
      class="md:w-[40vw] rounded-xl md:rounded-none h-auto mt-5 md:mt-0"
    />
  </section>
  <div class="relative w-full h-[60vh] mx-auto pb-10 pt-20">
    <iframe
      src="https://www.google.com/maps?q=27+Rue+d'Alsace+Lorraine,+31000+Toulouse&output=embed"
      title="Map gps - adresse de Melissa Laroueg pour consultation"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="w-full h-full"></iframe>
  </div>
</Layout>
