---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import botticeli from "../images/botticelli.jpg";
import klimt from "../images/klimt.jpg";
import rodin from "../images/rodin.jpg";
import melissa from "../images/melissa.jpg";
---

<Layout
  description="Psychothérapie philosophique à Toulouse avec Melissa Laroueg. Consultations individuelles, supervision et interventions en entreprise."
>
  <section
    class="flex flex-col justify-center items-center md:items-stretch md:min-h-dvh h-auto gap-5 font-playfair text-tertiary scroll-mt-20 container"
    id="accueil"
  >
    <div class="py-50 md:py-0 flex items-center">
      <img src="logo2.svg" alt="" class="h-16 w-auto md:hidden" />
      <h1 class="lg:text-4xl font-medium text-xl">
        Melissa Laroueg <span class="sr-only">
          Philosophe thérapeutique à Toulouse
        </span>
      </h1>
    </div>
    <h2 class="lg:text-3xl font-medium text-xl">
      Philosophe Thérapeutique <br />
      <span class="hidden md:block">à Toulouse</span>
    </h2>
    <h3 class="lg:text-2xl text-lg font-medium md:pl-10 pt-10 hidden md:block">
      "Philosopher, c'est bon pour la santé."
    </h3>
    <div
      class="lg:text-2xl text-lg text-center font-medium md:justify-end flex md:text-left"
    >
      <address class="flex flex-col not-italic">
        <a href="mailto:Melissalaroueg@gmail.com" class="hover:underline">
          Melissalaroueg@gmail.com
        </a>

        <a
          href="https://maps.google.com/?q=27+Rue+d'Alsace+Lorraine,+31000+Toulouse"
          target="_blank"
          class="hover:underline"
        >
          27 rue d’Alsace-Lorraine
        </a>

        <a href="tel:+33760287270" class="hover:underline"> 07.60.28.72.70 </a>
      </address>
    </div>
  </section>
  <section class="scroll-mt-20 container" id="presentation">
    <h2
      class="font-playfair text-center md:text-left text-2xl lg:text-4xl font-medium text-secondary pb-3 pt-5 md:pt-0"
    >
      Présentation
    </h2>
    <div class="md:grid-cols-3 grid gap-5">
      <Image
        src={melissa}
        alt="Melissa Laroueg"
        title="Moi"
        class="md:col-span-1 md:col-start-3 rounded-xl md:rounded-none object-cover h-full w-full"
      />
      <p
        class="bg-tertiary/90 md:col-start-1 md:row-start-1 rounded-xl md:rounded-none text-white font-light p-5 font-opensans md:col-span-2 text-justify"
      >
        Diplômée en psychologie et en philosophie, je me suis consacrée à cette
        dernière discipline dans nombre de ses applications concrètes. Si j’ai
        enseigné longtemps en Terminale, en particulier, mais aussi à
        l’Université dans mes spécialités – la Méthodologie, les raisonnements
        scientifiques, la rhétorique et l’éthique – j’ai surtout passé les 20
        dernières années à dépoussiérer les ponts qui relient la théorie
        philosophique à la vie pratique, quotidienne, ordinaire. <br />
        <br />
        Mon constat est qu’aujourd’hui, nombre des problématiques de société, de dynamiques
        individuelles et collectives, auraient gagné à être examinées du point de
        vue philosophique, afin d’optimiser leurs chances d’avancer de façon constructive.<br
        /> En attendant, comprendre ce qui se passe en soi pour mieux l’apprivoiser,
        tout comme s’ouvrir à ce qui peut se passer en l’Autre pour mieux relationner,
        semblent être des difficultés systématiques, systématiquement difficiles à
        dépasser, et toujours violentes à vivre.
        <br />
        <br />
        La capacité critique, également essentielle à la construction de l’autonomie
        du jugement, sans y opposer une ouverture à l’altérité, est le dommage co-latéral
        le plus important à l’absence d’un enseignement pratique de la philosophie:
        par exemple, sans capacité critique, l’altérité est une influence surpuissante
        qui ouvre grand la porte à l’emprise; de l’autre côté, aucune autocritique
        ne peut amortir les biais de confirmation qui construisent les narcissismes.
        Partout à l’International, pourtant, et particulièrement en Europe et au Canada,
        des sociétés de Philosophie pratique et de Philothérapie ont construit des
        entités institutionnelles qui travaillent de concert avec la psychologie et
        la psychiatrie, sans se poser en concurrence. En France, les pratiques sont
        encore trop éparpillées, mais c’est sur les modèles internationaux que je
        construis ma position.<br />
        <br />
        Un philosophe n’est pas un psychothérapeute et ne guérit pas de la maladie
        mentale. En revanche, il participe à l’établissement des modalités de la santé
        mentale, en questionnant la souffrance comme on lirait le mode d’emploi de
        soi-même, et donne ainsi du sens, et du corps à l’existence. C’est en ce sens
        qu’il a un pouvoir thérapeutique.
      </p>
    </div>
  </section>
  <section class="h-auto scroll-mt-20 pt-5 container" id="consultations">
    <h2 class="font-playfair text-4xl font-medium text-secondary pb-3">
      Consultations
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 pb-10">
      <!-- Card 1 -->
      <div class="col-span-1">
        <Image
          src={klimt}
          alt="tableau de Gustav Klimt illustrant Athena et la philosophie dans la supervision"
          title="Athena de Gustav Klimt"
          class="w-full aspect-square object-cover mb-3 rounded-xl md:rounded-none"
        />

        <div
          class="bg-tertiary/90 text-white md:hover:scale-105 transition-transform duration-300 rounded-xl md:rounded-none"
        >
          <h3 class="font-playfair text-3xl font-medium pl-5 pt-1 h-[9vh]">
            Supervision
          </h3>

          <details class="group">
            <summary
              class="flex cursor-pointer items-end justify-center [&_::-webkit-details-marker]:hidden"
            >
              <svg
                class="w-15 h-15 transition-transform duration-300 group-open:-rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
              </svg>
            </summary>

            <div class="px-5 pb-5">
              <p class="font-light font-opensans text-justify">
                Professionnels de la thérapie, vous connaissez la théorie de
                votre pratique et sa déontologie, et vous êtes engagés à la
                respecter pour la santé de votre patient, ainsi que la vôtre,
                capitale au sein de votre exercice.<br />
                Malgré la rigueur de votre effort, travailler avec la subjectivité
                peut entraîner des questionnements problématiques, que la théorie
                seule peut ne pas suffire à démêler, et vous laisser seul face à votre
                cas de conscience. Le dialogue philosophique, avant d’être une perspective,
                est d’abord un dialogue exigeant, à la hauteur de la complexité de
                votre expertise, et dont les fondements scientifiques sont dévolus
                à la recherche de l’angle mort, et à l’aboutissement d’un raisonnement
                fécond.<br />
                Si la mission du clinicien est de respecter la subjectivité, l’altérité,
                l’autonomie du sujet, il doit sans cesse écarteler le champ de sa
                perception pour ne pas réduire l’autre à la représentation qu’il s’en
                fait. Les outils méthodologiques, sémantiques et épistémologiques
                de la philosophie peuvent soutenir la Clinique.
              </p>
            </div>
          </details>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-span-1">
        <Image
          src={rodin}
          alt="le penseur de Rodin"
          title="Le Penseur de Rodin, symbole de la pensée philosophique"
          class="w-full aspect-square object-cover mb-3 rounded-xl md:rounded-none"
        />

        <div
          class="bg-secondary/90 text-white md:hover:scale-105 transition-transform duration-300 rounded-xl md:rounded-none"
        >
          <h3 class="font-playfair text-3xl font-medium px-5 pt-1 h-[9vh]">
            Entretiens Philosophiques à visée thérapeutique
          </h3>

          <details class="group">
            <summary
              class="flex cursor-pointer justify-center [&_::-webkit-details-marker]:hidden"
            >
              <svg
                class="w-15 h-15 transition-transform duration-300 group-open:-rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
              </svg>
            </summary>

            <div class="px-5 pb-5">
              <p class="font-light font-opensans text-justify">
                Dans sa tradition antique, la philosophie ne considère pas la
                souffrance comme une maladie, mais comme une occasion de
                travailler sur soi et d’apprendre à se connaître, pour savoir
                comment se respecter, et construire des principes de vie à la
                fois authentiques et compatibles à l’existence.<br />
                C’est cela, construire une éthique, en philosophie, et cela permet
                d’éviter les souffrances inutiles, de dépasser les autres, et d’en
                tirer parti. Un travail philosophique n’empêche pas de sortir de sa
                zone de confort quand c’est un choix averti, mais elle encourage d’abord
                à la construire, pour savoir où rentrer quand on s’est égaré loin
                de chez soi, et optimiser les voyages. <br />
                Loin des clichés de la philosophie comme dissertation interminable
                et inutile, le dialogue socratique et des outils bien choisis de la
                philosophie peuvent offrir un espace de confidence, mettre ses idées
                en ordre dans la sécurité du huis-clos, et mieux construire le sens
                de sa vie à partir de son expérience.
              </p>
            </div>
          </details>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-span-1">
        <Image
          src={botticeli}
          alt="Tableau de Botticelli illustrant le jugement moral"
          title="La calomnie d'Apelle de Botticelli"
          class="w-full aspect-square object-cover mb-3 rounded-xl md:rounded-none"
        />

        <div
          class="bg-tertiary/90 text-white md:hover:scale-105 transition-transform duration-300 rounded-xl md:rounded-none"
        >
          <h3 class="font-playfair text-3xl font-medium pl-5 pt-1 h-[9vh]">
            Intervention en entreprise
          </h3>

          <details class="group">
            <summary
              class="flex cursor-pointer justify-center [&_::-webkit-details-marker]:hidden"
            >
              <svg
                class="w-15 h-15 transition-transform duration-300 group-open:-rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
              </svg>
            </summary>

            <div class="px-5 pb-5">
              <p class="font-light font-opensans text-justify">
                Nous parlons de la même chose avec des mots différents, connotés
                de différentes subtilités, et nous ne nous comprenons pas. C’est
                un dialogue de sourd qui, de part les affects investis, mène
                chaque partie prenante à conclure que l’autre ne veut pas
                l’entendre, jusqu’à ce que l’épuisement abolisse toute forme de
                précautions à l’autre, en direction du conflit.<br />
                La politique en est le meilleur exemple: lorsque la droite parle de
                taxe, la gauche parle de solidarité. Quand la gauche parle de solidarité,
                la droite parle de injustice vis-à-vis du mérite. L’un parle de cotisation
                à l’intérêt général, l’autre de confiscation arbitraire.<br />
                Derrière l’apparence des mots, le travail du philosophe est de capter
                les principes communs qui, derrière des apparences opposées, peuvent
                réparer le dialogue entre des parties, toutes différentes soient-elles.
                80% des conflits en entreprises n’ont pas de causes profondes, c’est
                la forme qui les génère.
              </p>
            </div>
          </details>
        </div>
      </div>
    </div>
  </section>
  <section
    class="w-full bg-tertiary md:h-[35vh] flex flex-col justify-center container"
  >
    <h2
      class="text-center text-3xl md:text-4xl text-white font-medium font-playfair py-5"
    >
      Contactez-moi
    </h2>
    <p class="text-center text-white font-light font-opensans">
      N’hésitez pas à réserver un créneau, je répondrai à toutes vos questions
      avec plaisir.
    </p>
    <div class="text-center border-secondary py-10">
      <a
        href="contact"
        class="px-15 py-3 bg-secondary text-white border-primary hover:bg-secondary/50 border-2 font-medium font-opensans transition-colors duration-300"
      >
        Prendre rendez-vous
      </a>
    </div>
  </section>
  <div class="relative w-full h-[30vh]">
    <iframe
      src="https://www.google.com/maps?q=27+Rue+d'Alsace+Lorraine,+31000+Toulouse&output=embed"
      title="Map gps - adresse de Melissa Laroueg pour consultation"
      class="w-full h-full"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</Layout>
