---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thérapie Philosophique à Toulouse">
  <section
    class="flex flex-col justify-center h-dvh gap-5 font-playfair text-tertiary scroll-mt-20"
    id="accueil"
  >
    <h1 class="text-4xl font-medium">Melissa Laroueg</h1>
    <h2 class="text-3xl font-medium">
      Philosophe Thérapeutique <br /> à Toulouse
    </h2>
    <h3 class="text-2xl font-medium pl-10 pt-10">
      "Philosopher, c'est bon pour la santé."
    </h3>
    <h3 class="text-2xl font-medium justify-end flex">
      Melissalaroueg@gmail.com <br /> 27 rue d’Alsace-Lorraine <br /> 07.60.28.72.70
    </h3>
  </section>
  <section class="h-dvh scroll-mt-20" id="presentation">
    <h1 class="font-playfair text-4xl font-medium text-secondary pb-4">
      Présentation
    </h1>
    <div class="grid-cols-3 pb-10 grid gap-4">
      <p
        class="bg-tertiary/90 text-white font-light p-5 font-opensans col-span-2 text-justify"
      >
        Diplômée en psychologie et en philosophie, je me suis consacrée à cette
        dernière discipline dans nombre de ses applications concrètes. Si j’ai
        enseigné longtemps en Terminale, en particulier, mais aussi à
        l’Université dans mes spécialités – la Méthodologie, les raisonnements
        scientifiques, la rhétorique et l’éthique – j’ai surtout passé les 20
        dernières années à dépoussiérer les ponts qui relient la théorie
        philosophique à la vie pratique, quotidienne, ordinaire. <br />
        <br />
        Mon constat est qu’aujourd’hui, nombre des problématiques de société, de
        dynamiques individuelles et collectives, auraient gagné à être examinées
        du point de vue philosophique, afin d’optimiser leurs chances d’avancer de
        façon constructive.<br /> En attendant, comprendre ce qui se passe en soi
        pour mieux l’apprivoiser, tout comme s’ouvrir à ce qui peut se passer en
        l’Autre pour mieux relationner, semblent être des difficultés systématiques,
        systématiquement difficiles à dépasser, et toujours violentes à vivre.
        <br />
        <br />
        La capacité critique, également essentielle à la construction de l’autonomie
        du jugement, sans y opposer une ouverture à l’altérité, est le dommage co-latéral
        le plus important à l’absence d’un enseignement pratique de la philosophie:
        par exemple, sans capacité critique, l’altérité est une influence surpuissante
        qui ouvre grand la porte à l’emprise; de l’autre côté, aucune autocritique
        ne peut amortir les biais de confirmation qui construisent les narcissismes.
        Partout à l’International, pourtant, et particulièrement en Europe et au
        Canada, des sociétés de Philosophie pratique et de Philothérapie ont construit
        des entités institutionnelles qui travaillent de concert avec la psychologie
        et la psychiatrie, sans se poser en concurrence. En France, les pratiques
        sont encore trop éparpillées, mais c’est sur les modèles internationaux que
        je construis ma position.<br />
        <br />
        Un philosophe n’est pas un psychothérapeute et ne guérit pas de la maladie
        mentale. En revanche, il participe à l’établissement des modalités de la
        santé mentale, en questionnant la souffrance comme on lirait le mode d’emploi
        de soi-même, et donne ainsi du sens, et du corps à l’existence. C’est en
        ce sens qu’il a un pouvoir thérapeutique.
      </p>
      <img
        src="public/melissa.jpg"
        alt="Melissa Laroueg"
        title="Moi"
        class="col-span-1 object-cover h-full w-full"
      />
    </div>
  </section>
</Layout>
