<header
  class="bg-primary shadow-md shadow-[rgba(0,0,0,0.7)] h-20 text-secondary sticky top-0 z-50 w-full font-playfair"
>
  <div class="container flex justify-between items-center h-full">
    <div class="flex items-center translate-x-[-35px]">
      <a href="/">
        <img src="public/logo2.svg" alt="logo" class="size-[80%]" />
      </a>
      <div class="flex flex-col">
        <span class="text-xl font-medium">Melissa Laroueg</span>
        <span class="text-xl font-medium">Philosophe thérapeutique</span>
      </div>
    </div>

    <nav class="hidden lg:block lg:w-auto">
      <ul class="flex flex-col font-medium lg:flex-row lg:space-x-7">
        <li><a href="#accueil" class="hover:text-gray-400">ACCUEIL</a></li>
        <li>
          <a href="#presentation" class="hover:text-gray-400">PRESENTATION</a>
        </li>
        <li>
          <a href="/consultations" class="hover:text-gray-400">CONSULTATIONS</a>
        </li>
        <li><a href="/contact" class="hover:text-gray-400">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
